<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- SEO -->
	<title>Rendra Felani | Personal Website</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="static/images/feather2.png" sizes="57x47">

	<!-- Styles -->
	<link rel='stylesheet' href='static/assets/css/split.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

<div class="fs-split">

	<!-- Image Side -->
	<div class="split-image">

	</div>

	<!-- Content Side -->
	<div class="split-content">

		<div class="split-content-vertically-center">

			<div class="split-intro">

				<!-- <h1>Rendra Felani</h1> -->

				<span class="tagline">Rendra Felani.</span>

			</div>

			<div class="split-bio">

							<p style="text-align: justify;">Rendra Felani is a Junior System Administrator with 5+ years of experience.
							He tried to make the infrastructure design on a Server that was good for the
							company so the system could work properly.</p>

							<br>
							<p style="text-align: justify;">Since graduating with an S.Kom in Computer Science from <a href="http://narotama.ac.id" target="_blank">Narotama University</a> in 2018,
							Rendra has focused her professional career on System Administrator work by following the scientific fields of High-Performance Computing (HPC),
							Parallel Processing, Virtualization, Network Administrator and Server Management.</p>
							</br>

							<p style="text-align: justify;">He is a IT Staff infrastructure at <a href="http://v2.qsoft.computer/" target="_blank">QSoft</a> and specializes in Server administration issues and support in them.</p>

							<br>
							<p style="text-align: justify;">In addition to her development work, Rendra is a member of the research team from <a href="http://narotama.ac.id" target="_blank">Narotama University</a> and have published
							a research paper on containers and neural networks (2018).</p>
							</br>

							<p style="text-align: justify;">When not online, Rendra can be found in Masangan, Sidoarjo with  my parents, spending my free time studying, browsing, watching movies,
							listening to music from my favorite bands, and experimenting with computers or playing with pigeon pets.</p>

			</div>

			<div class="split-lists">

				<div class="split-list">

					<h3>Connect</h3>

					<ul>
						<li><a href="http://rendraf23.blogspot.com/" target="_blank">Blog</a></li>
						<li><a href="rendraf28@gmail.com" target="_blank">Email</a></li>
						<li><a href="https://wa.me/62816551543" target="_blank">Whatsapp</a></li>
					</ul>

				</div>

				<div class="split-list">

					<h3>Social</h3>

					<ul>
						<li><a href="https://twitter.com/Xrendra23" target="_blank">Twitter</a></li>
						<li><a href="https://instagram.com/rendrafl" target="_blank">Instagram</a></li>
						<li><a href="https://www.facebook.com/xrendra" target="_blank">Facebook</a></li>
					</ul>

				</div>

				<div class="split-list">

					<h3>Network</h3> 

					<ul>
						<li><a href="https://pinterest.com/rendrafelani/" target="_blank">Pinterest</a></li>
						<li><a href="https://www.linkedin.com/in/rendra-felani-7a18b6120" target="_blank">Linkedlin</a></li>
						<li><a href="https://github.com/rendrafl/" target="_blank">Github</a></li>
					</ul>

				</div>

			</div>

	</div>

</div>

</body>
</html>
